{% extends "base.html" %}
{% load static %}

{% block title %}Sign In{% endblock %}

{% block content %}
<div class="signin-container">
    <form method="post" class="signin-form" novalidate>
        {% csrf_token %}
        <h2>Welcome</h2>
        <p>Please enter your details to sign in.</p>

        {% if form.non_field_errors %}
            <div class="form-errors">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <div class="input-group">
            <label for="{{ form.username.id_for_label }}">Username</label>
            {{ form.username }}
            {{ form.username.errors }}
        </div>

        <div class="input-group">
            <label for="{{ form.password.id_for_label }}">Password</label>
            {{ form.password }}
            {{ form.password.errors }}
        </div>

        <div class="form-option">
            <label class="checkbox-label">
                <input type="checkbox" name="remember_me"> Remember Me
            </label>
            <a href="{% url 'accounts:password_reset' %}" class="forget-password">Forgot Password?</a>
        </div>

        <button type="submit" class="btn btn-signin">Sign In</button>

        <p class="signup-link">
            Don't have an account? <a href="{% url 'accounts:register' %}">Sign Up</a>
        </p>
    </form>
</div>
{% endblock %}